@font-face {
	font-family: 'Intro';
	src: local('Intro'), url('intro.woff2') format('woff2'), url('/font/intro.woff') format('woff'), url('/font/intro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	font: 18px sans-serif;
	height: 100%;
	width: 100%;
	background: #f6f6f6
}

.slide-1 {
<<<<<<< HEAD
	min-width: 100%;
	min-height: 100%;
	background-image: url(http://214426.selcdn.ru/Koalas/First-slide.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.mainText {
=======
<<<<<<< HEAD
    min-width: 100%;
    min-height: 100%;
    background-image: url(http://214426.selcdn.ru/Koalas/First-slide.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.mainText {
    text-transform: uppercase;
    height: 10vh;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 37vh;
    position: absolute;
    color: white;
    font: 25px 'Roboto', sans-serif;
    left: 1%;
    right: 1%;
=======
	min-width: 100%;
	min-height: 100%;
	background-image: url(http://214426.selcdn.ru/Koalas/First-slide.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.mainText {
>>>>>>> 5fdb3da836b8887579a33418d9eec0ed6a07e06d
	text-transform: uppercase;
	height: 10vh;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 33vh;
	position: absolute;
	color: white;
	font: 25px 'Roboto', sans-serif;
	left: 1%;
	right: 1%;
<<<<<<< HEAD
=======
>>>>>>> origin/Koalaz
>>>>>>> 5fdb3da836b8887579a33418d9eec0ed6a07e06d
}

h1 {
	margin: 10px;
	font: 3.8em 'Intro', sans-serif;
}

#text-1,
#text-3 {
	padding: 10px;
}

.btn {
<<<<<<< HEAD
=======
<<<<<<< HEAD
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -53.5px;
=======
>>>>>>> 5fdb3da836b8887579a33418d9eec0ed6a07e06d
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -53.5px;
<<<<<<< HEAD
=======
>>>>>>> origin/Koalaz
>>>>>>> 5fdb3da836b8887579a33418d9eec0ed6a07e06d
}

.fa-chevron-circle-down {
	color: white;
<<<<<<< HEAD
=======
}


/* Slide-2*/

.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 15px;
	font-size: 1em;
	letter-spacing: 3px;
	/* height: 6vh; */
}

.header ul {
	margin: 0 10% 0 0;
}

.header li {
	list-style: none;
	display: inline-block;
	text-transform: uppercase;
	padding: 15px 15px 15px 0;
}

.header a {
	color: black;
	text-decoration: none;
	display: block;
	position: relative;
}

.header #comp-name {
	margin-right: 35%;
	font: 500 1.5em intro, sans-serif;
	padding: 9px 0 0 0;
}

.about-txt {
	flex-direction: row;
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 6% 0 0 0;
	align-items: baseline;
}

#abt {
	margin: 0 15% 0 0;
	font: 1.3em Roboto;
	text-transform: uppercase;
	border-bottom: 3px solid #20bbc1;
}

.texteritos {
	margin-bottom: 5%;
}

.texteritos.first {
	font: 500 1.4em Roboto, sans-serif;
}

.texteritos.second,
.texteritos.third,
.texteritos.fouth {
	font: 300 1.2em Roboto, sans-serif
}

.about-txt .text {
	width: 50%;
}


/* Works*/

.our-works {
	width: 100%;
	margin: 5% 0 0 0;
	overflow: auto;
	white-space: nowrap;
	text-align: center;
	&:before {
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		content: '';
	}
}

.our-works .blocks {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 0 10% 0 10%
}

.our-works a {
	text-decoration: none;
	color: black;
}

.wks-head {
	display: inline-block;
	white-space: normal;
	vertical-align: middle;
	text-align: left;
}

.our-works p {
	font: 2em Roboto;
	text-transform: uppercase;
	border-bottom: 5px solid #20bbc1;
	margin: 0 0 25% 0;
}

.bttns {
	width: 300px;
	height: 300px;
	display: inline-block;
	text-align: center;
	background: rgba(254, 217, 15, 0.56);
	margin: 0 5% 0 5%;
}

.blocks.one {
	margin-bottom: 1.25%
}

.blocks.two {
	margin-top: 1.25%;
	margin-bottom: 2%;
}


/* Slide-3 */


/* Skillzzz */

.slide-3 {
	margin: 0;
	overflow: auto;
	white-space: nowrap;
	text-align: center;
	&:before {
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		content: '';
	}
}

#skl {
	display: inline-block;
	white-space: normal;
	vertical-align: middle;
	text-align: left;
	font: 2em Roboto;
	text-transform: uppercase;
	border-bottom: 5px solid #20bbc1;
	margin-top: 20px;
	margin-bottom: 50px;
}

.sklcr {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between;
	margin-top: -10px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 80%;
}

.crkl {
	margin-top: 0px;
	width: 20vw;
	text-align: center;
}

.crkl p {
	font: 800 25px 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: -40px;
}


/* Connect */


/* Slide-4 */

.slide-4 {
	background: #15171a;
	color: #fff;
	text-transform: uppercase;
}

.wrapper {}

.cnn {
	text-align: center;
}

#Connect {
	position: relative;
	font: 2em Roboto;
	border-bottom: 5px solid #20bbc1;
	display: inline-block;
	color: #fff;
	margin: 5% 0;
}

.wrap {
	min-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin: auto;
	display: flex;
	display: flex;
	justify-content: center;
	/* flex-direction: row; */
}

.wrap p {
	/*	position: relative;*/
	font: 1.2em Roboto
}

.wrap #messg {}

#emm,
#nme {
	height: 12%;
}

#mesgg {
	height: 30%;
	width: 99%;
	resize: none;
	margin-bottom: 5%;
}

.wrap a {
	padding: 10px 15px;
	color: white;
	text-decoration: none;
	background: #11ABB0;
	transition: .3s
}

.wrap a:hover {
	background: #222;
	box-shadow: inset 0 0 15px black;
}

#sendius {
	display: inline-block;
	float: left;
	margin-left: 89%;
}

input,
textarea {
	font: 300 1em roboto;
}


/* Footer */

footer {
	height: 150px;
	background: #181B1E;
	margin-top: 15%;
}

.footer {
	position: relative;
	width: 100%;
}

.footer .fa-angle-up {
	font-size: 5.5em;
	position: absolute;
	margin-top: -2.5%;
}

.footer .wrap {
	position: absolute;
	left: 5%;
	right: 5%;
	margin: auto;
	margin-top: -3.5%;
}

#wrapperinyos {
	height: 100px;
	width: 100px;
	background: #181B1E;
	transform: rotate(45deg);
>>>>>>> 5fdb3da836b8887579a33418d9eec0ed6a07e06d
}


/* Slide-2*/

.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 15px;
	font-size: 1em;
	letter-spacing: 3px;
	/* height: 6vh; */
}

.header ul {
	margin: 0 10% 0 0;
}

.header li {
	list-style: none;
	display: inline-block;
	text-transform: uppercase;
	padding: 15px 15px 15px 0;
}

.header a {
	color: black;
	text-decoration: none;
	display: block;
	position: relative;
}

.header #comp-name {
	margin-right: 35%;
	font: 500 1.5em intro, sans-serif;
	padding: 9px 0 0 0;
}

.about-txt {
	flex-direction: row;
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 6% 0 0 0;
	align-items: baseline;
}

#abt {
	margin: 0 15% 0 0;
	font: 1.3em Roboto;
	text-transform: uppercase;
	border-bottom: 3px solid #20bbc1;
}

.texteritos {
	margin-bottom: 5%;
}

.texteritos.first {
	font: 500 1.4em Roboto, sans-serif;
}

.texteritos.second,
.texteritos.third,
.texteritos.fouth {
	font: 300 1.2em Roboto, sans-serif
}

.about-txt .text {
	width: 50%;
}


/* Works*/

.our-works {
	width: 100%;
	margin: 5% 0 0 0;
	overflow: auto;
	white-space: nowrap;
	text-align: center;
	&:before {
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		content: '';
	}
}

.our-works .blocks {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 0 10% 0 10%
}

.our-works a {
	text-decoration: none;
	color: black;
}

.wks-head {
	display: inline-block;
	white-space: normal;
	vertical-align: middle;
	text-align: left;
}

.our-works p {
	font: 2em Roboto;
	text-transform: uppercase;
	border-bottom: 5px solid #20bbc1;
	margin: 0 0 25% 0;
}

.bttns {
	width: 300px;
	height: 300px;
	display: inline-block;
	text-align: center;
	background: rgba(254, 217, 15, 0.56);
	margin: 0 5% 0 5%;
}

.blocks.one {
	margin-bottom: 1.25%
}

.blocks.two {
	margin-top: 1.25%;
	margin-bottom: 2%;
}


/* Slide-3 */


/* Skillzzz */

.slide-3 {
	margin: 0;
	overflow: auto;
	white-space: nowrap;
	text-align: center;
	&:before {
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		content: '';
	}
}

#skl {
	display: inline-block;
	white-space: normal;
	vertical-align: middle;
	text-align: left;
	font: 2em Roboto;
	text-transform: uppercase;
	border-bottom: 5px solid #20bbc1;
	margin-top: 20px;
	margin-bottom: 50px;
}

.sklcr {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between;
	margin-top: -10px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 80%;
}

.crkl {
	margin-top: 0px;
	width: 20vw;
	text-align: center;
}

.crkl p {
	font: 800 25px 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: -40px;
}


/* Connect */


/* Slide-4 */

.slide-4 {
	background: #15171a;
	color: #fff;
	text-transform: uppercase;
}

.wrapper {}

.cnn {
	text-align: center;
}

#Connect {
	position: relative;
	font: 2em Roboto;
	border-bottom: 5px solid #20bbc1;
	display: inline-block;
	color: #fff;
	margin: 5% 0;
}

.wrap {
	min-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin: auto;
	display: flex;
	display: flex;
	justify-content: center;
	/* flex-direction: row; */
}

.wrap p {
	/*	position: relative;*/
	font: 1.2em Roboto
}

.wrap #messg {}

#emm,
#nme {
	height: 12%;
}

#mesgg {
	height: 30%;
	width: 99%;
	resize: none;
	margin-bottom: 5%;
}

.wrap a {
	padding: 10px 15px;
	color: white;
	text-decoration: none;
	background: #11ABB0;
	transition: .3s
}

.wrap a:hover {
	background: #222;
	box-shadow: inset 0 0 15px black;
}

#sendius {
	display: inline-block;
	float: left;
	margin-left: 89%;
}

input,
textarea {
	font: 300 1em roboto;
}


/* Footer */

footer {
	height: 150px;
	background: #181B1E;
	margin-top: 15%;
}

.footer {
	position: relative;
	width: 100%;
}

.footer .fa-angle-up {
	font-size: 5.5em;
	position: absolute;
	margin-top: -2.5%;
}

.footer .wrap {
	position: absolute;
	left: 5%;
	right: 5%;
	margin: auto;
	margin-top: -3.5%;
}

#wrapperinyos {
	height: 100px;
	width: 100px;
	background: #181B1E;
	transform: rotate(45deg);
}
